
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <ngx-datatable
            class="bootstrap"
            [rows]="rows"
            [columns]="[{ name: '#' }, { name: 'Nombre' }, { name: 'Genero' }, { name: 'Correo Electrónico' }, { name: 'Estatus' }]"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [externalPaging]="true"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            [limit]="page.size"
            (page)="setPage($event)"
          >
            <ngx-datatable-column name="id"></ngx-datatable-column>
            <ngx-datatable-column name="name"></ngx-datatable-column>
            <ngx-datatable-column name="gender"></ngx-datatable-column>
            <ngx-datatable-column name="email"></ngx-datatable-column>
            <ngx-datatable-column name="status"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
<!--[count]="page.totalElements"-->
<!--[offset]="page.pageNumber"-->
<!--[limit]="page.size"-->
